body {
  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.main {
  &__title {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: flex-start;
    padding: 5rem 0;
    h1 {
      font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: rgb(0,82,255,);
    }
  }
}
.table{
  a {
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .4rem;
    color: #000;
  }

  tr {
    cursor: pointer;
  }
  td {
    text-align: left;
    div {
      display: flex;
      gap: .5rem;
      flex-wrap: wrap;
      .symbol {
        text-transform: uppercase;
      }
    }
  }
  .coin {
    &__info {
      img {
        height: 24px;
        width: 24px;
        border-radius: 12px;
      }
    }
    &__high {
      &--price {
        color: #16c784;
      }
    }
    &__low {
      &--price {
        color: #ea3943;
      }
    }
    &__title {
      p {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
    }
    &__description {
      &--inner {
        width: 100%;
      line-height: 1.2em;
      height: 3.6em;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      }
      text-transform: capitalize;
    }
    &__market {
      text-transform: capitalize;
    }
    &__homepage {
      text-decoration: underline;
      color: #0d6efd;
    }
  }
}
