body {
  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.main {
  &__title {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: flex-start;
    padding: 5rem 0;
    h1 {
      font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: rgb(0,82,255,);
    }
  }
}
.table{
  tr {
    cursor: pointer;
  }
  td {
    text-align: left;
    div {
      display: flex;
      gap: .5rem;
      .symbol {
        text-transform: uppercase;
      }
    }
  }
  .coin {
    &__name {
      img {
        height: 24px;
        width: 24px;
        border-radius: 12px;
      }
    }
    &__symbol {
      text-transform: uppercase;
    }
    &__image{
    
    }
    &__high {
      &--price {
        color: #16c784;
      }
    }
    &__low {
      &--price {
        color: #ea3943;
      }
    }
  }
}
